@font-face {
  font-family: "CMU Serif";
  src: url("../fonts/cmu-serif/CMUSerif-Roman.woff2") format("woff2"),
       url("../fonts/cmu-serif/CMUSerif-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU Serif";
  src: url("../fonts/cmu-serif/cmunbx.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

#Logo {
  font-family: "CMU Serif", serif !important;
}
