@font-face {
  font-family: "CMU Serif";
  src: local("CMU Serif"), local("CMU Serif Roman");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU Serif";
  src: url("fonts/cmu-serif/cmunbx.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

#Logo {
  font-family: "CMU Serif", serif !important;
}
